__pycache__/
Test Images/output.jpg
Test Images/test_img_6.jpg
Test Images/test_img_7.jpg
Test Images/test_img_9.jpg
Test Images/test_img_10.jpg
test_results/
output_2.jpg
output_3.jpg
test.py
computer_generated_shapes_test.py
shape_detector.py
form_generator.py
transform.py
edge_threshold_test.py
four_point_transform.py
.DS_Store
*.html